default std
prompt 0
timeout 50

label std
	menu label FamilyOS
	kernel /live/vmlinuz
	append initrd=/live/initrd.img boot=live components live-config.username=toddler persistence persistence-label=familyos-data quiet splash
